@model IEnumerable<uSight_Web.Models.SearchRecord>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddRecord")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlateNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stolen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlateNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stolen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { PlateNumber = item.PlateNumber, item.Time })
        </td>
    </tr>
}

</table>
