@model IEnumerable<uSight_Web.Models.SearchRecord>

@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Searched records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Searched records</h2>

@Html.Raw(ViewData["Filter"].ToString())

@if (ViewData["Filter"].ToString() == 1.ToString())
{
    @Html.ActionLink("<button type=\"button\" class=\"btn btn-primary\">Only personal history</button>", "Index", new { Filter = 0 })
}
else
{
    @Html.ActionLink("<button type=\"button\" class=\"btn btn - primary\">All history</button>", "Index", new { Filter = 1})


}
<br><br>

<p>
    @Html.ActionLink("Create New", "AddRecord")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlateNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stolen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (
            item.UserId == HttpContext.Current.User.Identity.Name.ToString() || (
            item.UserId == null &&
            ViewData["Filter"] != "1"
            ))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stolen)
                </td>
                <td>
                    @if (item.UserId == null)
                    {
                        @Html.Raw("System");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.UserId)
                    }

                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { PlateNumber = item.PlateNumber, item.Time })
                </td>
            </tr>
        }
    }
</table>
