@using uSight_Web.Entities;
@using System.Globalization;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dtfi = new DateTimeFormatInfo();
}

<div class="row">
    <div class="col-md-12">
        <h2>Total number of searched plates</h2>
        @{
            Html.RenderPartial("_ChartBar", (ChartData)ViewBag.timeCountSearchesCD);
        }
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("Index", "Statistics", FormMethod.Get))
    {
        <div class="col-md-4">
            <p>Start date:</p>
            <select name="totalStartYear" class="form-control">
                @for (int i = 2010; i <= 2030; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <select name="totalStartMonth" class="form-control">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">@dtfi.GetMonthName(i)</option>
                }
            </select>
            <select name="totalStartDay" class="form-control">
                @for (int i = 1; i <= 31; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="col-md-4 text-center">
            <input type="submit" class="btn btn-success btn-block" value="Change interval">
        </div>
        <div class="col-md-4">
            <p>End date:</p>
            <select name="totalEndYear" class="form-control">
                @for (int i = 2010; i < 2030; i++)
                {
                    <option value="@i">@i</option>
                }
                <option value="2030" selected>2030</option>
            </select>
            <select name="totalEndMonth" class="form-control">
                @for (int i = 1; i < 12; i++)
                {
                    <option value="@i">@dtfi.GetMonthName(i)</option>
                }
                <option value="12" selected>@dtfi.GetMonthName(12)</option>
            </select>
            <select name="totalEndDay" class="form-control">
                @for (int i = 1; i < 31; i++)
                {
                    <option value="@i">@i</option>
                }
                <option value="31" selected>31</option>
            </select>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Total number of searched plates monthly</h2>
        @{
            Html.RenderPartial("_ChartBar", (ChartData)ViewBag.monthlyCountSearchesCD);
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Total number of searched plates yearly</h2>
        @{
            Html.RenderPartial("_ChartBar", (ChartData)ViewBag.yearlyCountSearchesCD);
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Total number of searched plates every month</h2>
        @{
            Html.RenderPartial("_ChartBar", (ChartData)ViewBag.everyMonthCountSearchesCD);
        }
    </div>
</div>

<p><br></p>
