@using Microsoft.AspNet.Identity;
@using uSight_Web.Entities;
@using System.Globalization;

@model uSight_Web.Models.CommentViewModel

@{
    ViewBag.Title = "Index";

    var dtfi = new DateTimeFormatInfo();

    DateTime totalStartDate = ViewBag.totalStartDate;
    DateTime totalEndDate = ViewBag.totalEndDate;
}

<br>

<div class="container">
    <ul class="nav nav-tabs">
        <li @(ViewBag.Search ? Html.Raw("class=\"active\"") : Html.Raw(""))><a data-toggle="tab" href="#menu1">License plates</a></li>
        <li @(!ViewBag.Search ? Html.Raw("class=\"active\"") : Html.Raw(""))><a data-toggle="tab" href="#menu2">Information</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in @(ViewBag.Search ? "active" : "")">
            <form method="POST" action="Plate">
                <label for="usr">Search:</label>
                <input type="text" class="form-control" id="plateNumber" name="plateNumber">

                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <h2>License plates</h2>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.search.ElementAt(0).PlateNumber)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.search)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.PlateNumber)
                        </td>

                        <td>
                            @Html.ActionLink("Details", "Index", new { PlateNumber = item.PlateNumber })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="menu2" class="tab-pane fade in @(!ViewBag.Search ? "active" : "")">
            <h2>Information</h2>

            <!-- If record selected -->
            @if (ViewData["Action"].ToString().Equals("1"))
            {
                <br><br>


                <h2>@Html.Raw(ViewData["LicensePlate"].ToString())</h2>;

                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_Map", (MapData)ViewBag.MapData);
                    </div>
                </div>

                <br>
                using (Html.BeginForm("Index", "Plate", FormMethod.Get))
                {
                    <input type="hidden" name="PlateNumber" value="@Html.Raw(ViewData["LicensePlate"].ToString())"/>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Searches for this plate</h2>
                            @{
                                Html.RenderPartial("_ChartBar", (ChartData)ViewBag.timeCountSearchesCD);
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Start date:</p>
                            <select name="totalStartYear" class="form-control">
                                @for (int i = 2010; i <= 2030; i++)
                                {
                                    if (i == totalStartDate.Year)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            <select name="totalStartMonth" class="form-control">
                                @for (int i = 1; i <= 12; i++)
                                {
                                    if (i == totalStartDate.Month)
                                    {
                                        <option value="@i" selected>@dtfi.GetMonthName(i)</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@dtfi.GetMonthName(i)</option>
                                    }

                                }
                            </select>
                            <select name="totalStartDay" class="form-control">
                                @for (int i = 1; i <= 31; i++)
                                {
                                    if (i == totalStartDate.Day)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-4 col-md-push-4">
                            <p>End date:</p>
                            <select name="totalEndYear" class="form-control">
                                @for (int i = 2010; i <= 2030; i++)
                                {
                                    if (i == totalEndDate.Year)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            <select name="totalEndMonth" class="form-control">
                                @for (int i = 1; i <= 12; i++)
                                {
                                    if (i == totalEndDate.Month)
                                    {
                                        <option value="@i" selected>@dtfi.GetMonthName(i)</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@dtfi.GetMonthName(i)</option>
                                    }
                                }
                            </select>
                            <select name="totalEndDay" class="form-control">
                                @for (int i = 1; i <= 31; i++)
                                {
                                    if (i == totalEndDate.Day)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-4 col-md-pull-4 text-center">
                            <input type="submit" class="btn btn-success btn-block" value="Change interval">
                        </div>
                    </div>
                }
                <br><br>

                <h2>Comments:</h2>

                if (User.Identity.GetUserId() == null)
                {
                    <h3>Login to comment</h3>
                }
                else
                {
                    <form method="post" action="Plate?CPost=1&PlateNumber=@ViewData["LicensePlate"]">
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                            <input type="submit" value="Post">
                        </div>
                    </form>
                }

                if (Model.comment.Count<uSight_Web.Models.Comment>() == 0)
                {
                    <h3>No comments</h3>
                }
                else
                {
                    var ll = ViewData["infm"] as List<String>;

                    foreach (var item in Model.comment)
                    {
                    <div>
                        @{
                            String us = ll.ElementAt(0);
                            @Html.Label(us)
                            Boolean r = ll.Remove(us);
                        }
                        <br>
                        @Html.Label(item.Text)
                        <br>
                        @Html.Label(item.Time.ToString())
                        <hr>
                    </div>
                    }
                }
            }

        </div>
    </div>
</div>



